<div class="login_dropdown">
  <div>
    <a href="#" class="link text-left icon link_dropdown"><i class="fa fa-sign-in"></i>Sign in</a>
  </div>
  <div class="dropdown">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "search-form") do |f| %>
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      <% if devise_mapping.rememberable? -%>
      <div class="remember">
        <%= f.check_box :remember_me, class: "remember-cb" %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>
      <%= f.submit "Log in", class: 'btn-login' %>
      <!-- FaceBook -->
      <%= link_to user_omniauth_authorize_path(:facebook) do %>
        <%= image_tag "facebook_login_button.png", class: "btn-fb-login" %>
      <% end %>
    <% end %>
  </div>
</div>
