<div class="login_dropdown">
  <div>
    <a href="#" class="link text-left icon link_dropdown"><i class="fa fa-sign-in"></i>Sign in</a>
  </div>
  <div class="dropdown">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'login_form' }) do |f| %>
      <div class="controls">
        <%= f.email_field :email, autofocus: true, placeholder: "Email", title: "Email", class: "required" %>
      </div>
      <div class="controls">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "required", data: { 'min-chars': 8 }%>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="controls">
          <%= f.check_box :remember_me, class: "remember_me" %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <%= f.submit "Log in", class: "btn-login" %>
      <!-- FaceBook -->
      <%= link_to user_omniauth_authorize_path(:facebook) do %>
        <%= image_tag "facebook_login_button.png", class: "login-fb" %>
      <% end %>
    <% end %>
  </div>
</div>
