<% if user_signed_in? %>
  <li class="inline middle avatar" id="user">
    <a href="#">
      <span class="inline middle"><%= current_user.email %></span>
      <%= image_tag current_user.avatar_url, class: "inline middle" %>
    </a>
    <div class="info" id="user-info">
      <ul class="functions">
        <li>
          <%= link_to 'Thông tin tài khoản', user_path(current_user) %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "link text-left icon" do %>
            <i class="fa fa-sign-out"></i> <%= t("authen.sign_out") %>
          <% end %>
        </li>
      </ul>
    </div>
    <script>
      $(document).ready(function() {
        $('#user-info').css('display', 'none');

        $('#user').on('click', function() {
          if ($('#user-info').css('display') == 'block') {
            $('#user-info').css('display', 'none');
          } else {
            $('#user-info').css('display', 'block');
          }
        })

      });
    </script>
  </li>
<% else %>
  <li class="inline middle">
    <%= render "users/registrations/form" %>
  </li>
  <li class="inline middle">
    <%= render "users/sessions/login_form" %>
  </li>
<% end %>
