<ul>
  <li>
    <div class="special-event">
      <div id="ri-grid" class="ri-grid">
        <%= image_tag "loading.gif", class: "ri-loading-image" %>
        <ul>
          <% Event.all.pluck(:thumbnail_url).each do |thumbnail| %>
            <li>
              <%= link_to '#' do %>
                <%= image_tag thumbnail %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="event-contents text-center">
        <h3 id="ideal-number"><%= Event.all.size %></h3>
        <p>Ý tưởng đã được khởi tạo</p>
        <a class="button icon main big text-left" href=<%= event_path(@hotEvent) %>><i class="fa fa-thumbs-o-up"></i>Tạo ý tưởng</a>
      </div>
    </div>
  </li>
</ul>

<div class="idea-blocks wrapper">
  <div class="list inline top">
    <h3><%= t("common.featured_idea") %></h3>
    <% @events.each do |e| %>
      <div class="block inline top">
        <%= image_tag e.thumbnail_url =%>
        <a class="button animation main" href=<%= event_path(e) %>>View idea</a>
        <h4><%= e.name.mb_chars.capitalize.to_s %></h4>
        <p><%= e.short_description.mb_chars.capitalize.to_s %></p>
        <a class="love-us" href="#"><%= e.votes.size %> <i class="fa fa-heart"></i></a>
        <ul class="more">
          <li><i class="fa fa-user"></i>Tác giả: <strong><%= e.user.full_name %></strong></li>
          <li><i class="fa fa-map-marker"></i>Địa điểm: <strong><%= e.location %></strong></li>
          <li><i class="fa fa-calendar"></i>Ngày hết hạn: <strong><%= e.donation_due_date.strftime("%d/%m/%Y") %></strong></li>
        </ul>
        <div class="progress-bar">
          <div class="bar animation" style="width:<%= (e.donations.sum(:amount) / e.required_amount)*100 %>%;"></div>
          <span class="percent"><%= (e.donations.sum(:amount) / e.required_amount).round(2) *100 %>%</span>
          <span class="backer"><strong><%= e.donations.size %></strong>người ủng </span>
          <span class="raised">Số tiền: <strong><%= number_to_currency(e.donations.sum(:amount), format: "%n VNĐ") %></strong></span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="real-event inline top">
    <h3><%= t("common.realtime_event") %></h3>
    <ul>
      <% @realtime_notifications.each do |notification| %>
        <li>
          <%= image_tag notification.event.thumbnail_url %>
          <div class="content">
            <h4><%= link_to notification.event.name.mb_chars.capitalize.to_s, event_path(notification.event) %></h4>
            <p><%= raw(notification.message) %></p>
            <span><%= time_ago_in_words(notification.created_at) %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="idea-near-me">
  <h3 class="wrapper"><%= t("common.idear_near_me") %></h3>
  <div id="map" class="idea-map"></div>
</div>

<div class="summary">
  <ul class="wrapper">
    <li class="inline top">
      <h4><%= Event.enable.size %></h4>
      <span><strong>ý tưởng</strong> đã được khởi tạo</span>
    </li>
    <li class="inline top">
      <h4><%= number_to_currency(Donation.sum(:amount).floor, format: "%n VNĐ") %></h4>
      <span> đã được <strong>ủng hộ</strong></span>
    </li>
    <li class="inline top">
      <h4><%= User.all.size %></h4>
      <span><strong>nhà tự thiện</strong> đã tham gia quyên góp</span>
    </li>
  </ul>
</div>
<script>
  $('#ri-grid').gridrotator({
    w1024 : {
      rows : 3,
      columns : 16
    }
  });
  // In the following example, markers appear when the user clicks on the map.
  // Each marker is labeled with a single alphabetical character.
  var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
  var labelIndex = 0;
  var map;

  function initialize() {
    var icons = {
      iconEvent: {
          url: "<%= image_path 'map-marker.png'%>", //url
          scaledSize: new google.maps.Size(30, 42), //size
          origin: new google.maps.Point(0,0), //origin
          anchor: new google.maps.Point(17, 34) //anchor 
      }
    };

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    }
    // Adds a marker to the map.
    function addMarker(location, map, type, event) {
      var marker = new google.maps.Marker({
        position: location,
        icon: icons[type],
        map: map
      });
      marker.addListener('click', viewDetail);

      function viewDetail(){
        window.location.href = "/events/" + event.id
      }
    }

    function showPosition(position) {
      var location_gmap = { lat: position.coords.latitude, lng: position.coords.longitude };
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: location_gmap,
        scrollwheel: false
      });
      addMarker(location_gmap, map, "Ví trị của bạn");

      $.ajax({
        url: 'events/near_me?lat=10.788517&lon=106.742839',
        type: 'GET',
        success: function(data) {
          $.each(data, function(k, v){
            location_gmap = { lat: v.latitude, lng: v.longitude };
            addMarker(location_gmap, map, "iconEvent", v);
          });
        }
      });
    }
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>
