<div class="special-event">
  <ul>
    <li>
      <%= image_tag @event.thumbnail_url %>
      <div class="event-contents text-center">
        <h3><%= @event.name %></h3>
        <p><%= @event.short_description %>.</p>
      </div>
    </li>
  </ul>
</div>

<div class="contents wrapper">
  <div class="text inline top">
    <h3>Nội dung</h3>
    <div class="block description">
      <%= @event.story %>
    </div>
    <h3>Chương trình</h3>
    <div class="block timeline">
      <%= @event.story %>
    </div>
    <h3>Bản đồ</h3>
    <div class="block map" id="map"></div>
    <h3>Bình luận</h3>
    <div class="block list-comments">
      <%= render 'comments/comment_list' %>
    </div>
  </div>
  <div class="bar inline top">
    <div class="block">
      <div class="progress-bar">
        <div class="bar-line animation" style="width:60%;"></div>
        <span class="percent">60%</span>
      </div>
      <div class="line">
        <label>Số tiền cần thiết</label>
        <span class="money1">8,000,000VNĐ</span>
      </div>
      <div class="line">
        <label>Số tiền thu được</label>
        <span class="money2">5,000,000VNĐ</span>
      </div>
      <div class="line">
        <label>Ngày kết thúc</label>
        <span>23/02/2016</span>
      </div>
      <center>
        <%= form_tag donations_path do |f| %>
          <%= hidden_field(:event_id, value: @event.id) %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="Abra"
            data-amount="1000000"
            data-currency="vnd"
            data-panel-label="Ủng Hộ"
            data-locale="vi"></script>
        <% end %>
      </center>
    </div>

    <div class="block votes">
      <%= render "votes/votes" %>
    </div>

    <div class="block social">
      <a class="button facebook icon"><i class="fa fa-facebook"></i>facebook</a>
      <a class="button twitter icon"><i class="fa fa-twitter"></i>twitter</a>
    </div>

    <div class="block donors">
      <h4><%= t("common.donors") %></h4>
      <ul>
        <li>
          <img src="http://placeimg.com/300/300/people"/>
          <span>Tran Manh Hao</span>
        </li>
        <li>
          <img src="http://placeimg.com/300/300/people?1"/>
          <span>Tran Manh Hao</span>
        </li>
      </ul>
    </div>

  </div>
</div>

<script>
  function initialize() {
    var bangalore = { lat: 12.97, lng: 77.59 };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      scrollwheel: false,
      center: bangalore
    });

    var marker = new google.maps.Marker({
      position: bangalore,
      map: map
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

