<div class="special-event event-detail-thumbnail">
  <ul>
    <li>
      <%= image_tag @event.thumbnail_url %>
      <div class="event-contents text-center">
        <h3><%= @event.name %></h3>
        <p><%= @event.short_description %>.</p>
      </div>
    </li>
  </ul>
</div>

<div class="contents wrapper">
  <div class="text inline top">
    <h3>Nội dung</h3>
    <div class="block description">
      <%= @event.short_description %>
    </div>
    <h3>Chương trình</h3>
    <div class="block timeline">
      <%= raw(@event.story) %>
    </div>
    <h3>Bản đồ</h3>
    <div class="block map" id="mapdetail"></div>
    <h3>Bình luận</h3>
    <div class="block list-comments">
      <%= render 'comments/comment_list' %>
    </div>
  </div>
  <div class="bar inline top">
    <div class="block">
      <div class="progress-bar">
        <div class="bar-line animation" style="width:<%= (@event.donations.sum(:amount) / @event.required_amount).round(2) *100 %>%"></div>
        <span class="percent"><%= (@event.donations.sum(:amount) / @event.required_amount).round(2) *100 %>%</span>
      </div>
      <div class="line">
        <label>Số tiền cần thiết</label>
        <span class="money1"><%= number_to_currency(@event.required_amount, format: "%n VNĐ") %></span>
      </div>
      <div class="line">
        <label>Số tiền thu được</label>
        <span class="money2"><%= number_to_currency(@event.donations.sum(:amount), format: "%n VNĐ") %></span>
      </div>
      <div class="line">
        <label>Ngày kết thúc</label>
        <span><%= @event.donation_due_date.strftime("%d/%m/%Y") %></span>
      </div>
      <% if signed_in? %>
      <center>
        <script src="https://checkout.stripe.com/checkout.js"></script>
        <%= form_tag donations_path, id: "donation_form" do |f| %>
          <%= hidden_field(:donation, :event_id, value: @event.id) %>
          <input type="number" id="amount" class="" >
          <button id="customButton">Ủng Hộ</button>
          <script>
            $(document).ready(function(){
              var handler = StripeCheckout.configure({
                key: "<%= Rails.configuration.stripe[:publishable_key] %>",
                image: '/img/documentation/checkout/marketplace.png',
                locale: 'auto',
                token: function(token) {
                  $('#donation_form').submit();
                }
              });

              $('#customButton').on('click', function(e) {
                var amount = $("#amount").val();
                handler.open({
                  name: 'Ủng hộ <%= @event.name %>',
                  description: '<%= current_user.email %>',
                  amount: amount,
                  currency: 'VND'
                });
                e.preventDefault();
              });

              // Close Checkout on page navigation
              $(window).on('popstate', function() {
                handler.close();
              });
            });
          </script>
        <% end %>
      </center>
      <% end %>
    </div>

    <div class="block votes">
      <%= render "votes/votes" %>
    </div>

    <div class="block social">
      <a class="button facebook icon"><i class="fa fa-facebook"></i>facebook</a>
      <a class="button twitter icon"><i class="fa fa-twitter"></i>twitter</a>
    </div>

    <div class="block donors">
      <h4><%= t("common.donors") %></h4>
      <ul>
        <% @event.donations.each do |donation| %>
          <li>
            <%= image_tag donation.donor.avatar_url %>
            <span><%= donation.donor.email %></span>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</div>

<script>
  function initialize() {
    var bangalore = { lat: parseFloat("<%= @event.latitude %>"), lng: parseFloat("<%= @event.longitude %>") };
    var map = new google.maps.Map(document.getElementById('mapdetail'), {
      zoom: 15,
      scrollwheel: false,
      center: bangalore
    });

    var marker = new google.maps.Marker({
      position: bangalore,
      map: map
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

